@media(min-width: 550px) {
  .article-content-image-container {
    /* unset this, because it's only needed for small screens */
    display: unset;
    float: right;
    margin: 0;
    padding: 10px;
  }

  .button-major {
    font: 600 1.5em "Dekko", sans-serif;
  }

  .button-minor {
    font: 500 1em "Dekko", sans-serif;
  }

  .content {
    display: grid;
    grid-area: cont;
    grid-template-areas:
      "cnt-maj1 cnt-maj1 cnt-maj1 cnt-maj2 cnt-maj2 cnt-maj2"
      "cnt-min1 cnt-min1 cnt-min2 cnt-min2 cnt-min3 cnt-min3";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60% 40%;
  }

  .grid-item-label-major {
    border-radius: 9px 18px;
    padding: 0px 8px;
  }

  .grid-item-label-minor {
    border-radius: 4px 14px;
    padding: 0px 7px;
  }
}
