.article-container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "mmnu"
    "cont"
    "auth"
    "foot";

  grid-template-columns: 100%;
  grid-template-rows: 50px min-content;
}

.article-content-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  max-height: 100%;
  max-width: 100%;
}

.article-image {
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.button-major {
  font: 600 1em "Dekko", sans-serif;
}

.button-minor {
  font: 500 1em "Dekko", sans-serif;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "mmnu"
    "head"
    "cont"
    "sbar"
    "foot";

  grid-template-columns: 100%;
  grid-template-rows: repeat(2, max-content) 500px repeat(2, max-content);
}

.content {
  background-image: linear-gradient(#fff7c6, #d0caa5);
  display: grid;
  grid-area: cont;
  grid-template-areas:
    "cnt-maj1"
    "cnt-maj2"
    "cnt-min1"
    "cnt-min2"
    "cnt-min3";

  grid-template-columns: 100%;
  grid-template-rows: 2fr 2fr 1fr 1fr 1fr;
}

.grid-item {
  margin: 8px;
  padding: 8px;
}

.grid-item-label-major {
  border-radius: 7px 14px;
  padding: 0px 8px;
}

.grid-item-label-minor {
  border-radius: 3px 10px;
  padding: 0px 7px;
}

@media screen and (max-width: 549px) {
  .main-menu-list {
    overflow-x: auto;
  }
}